/*Descendent Selector*/
main p{
    color: yellow;
}

/*Child Selector*/
h1 > p{
    color: purple;
}

/*Adjacent sibling*/
section + p{
    color: blue;
}

/*General Sibling*/
aside ~ span{
    color: rgb(197, 29, 57);
}

/*Atribute Selector*/
[target="_blank"]{
    text-decoration: none;
    color: yellowgreen;
}

[alt~= "pw1"]{
 color: rgb(14, 203, 232);
}