*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    background-color: #f9f5ed;
}
/* .container{
    margin: 0 auto;
} */
.header-nav{
    /* width: 100vw; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-around; */
    padding: 18px 140px;
}
.header-nav>ul{
    display: flex;
    /* justify-content: start; */
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.header-nav>ul>li{
    list-style: none;
}
.header-nav>ul>li>a{
    text-decoration: none;
    color: black;
}
.header-nav>ul>li>a:hover{
   text-decoration: underline;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
    justify-content: space-evenly;
}
.hero-section>.left-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-section>.left-section>h1{
    font-weight: 900;
    font-size: xx-large;
}
.hero-section>.left-section>button{
    width: fit-content;
    padding: 6px 10px;
    background-color: rgb(2, 97, 2);
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.right-section>.top-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 13px;
}
.right-section>.top-img>img{
    width: 150px;
    height: 150px;
}
.right-section>.bottom-img>img{
    width: 310px;
    height: 170px;
}