*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}
body {
    width: 80%;
    margin: 0 auto;
    background-color: #f0f4f5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
}

.nav-links ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.nav-links ul a:hover {
    text-decoration: underline;
    color: #20bc7e;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 22px;
    padding-top: 12%;
}
.hero-section h1{
    font-weight: 900;
    color: #19ac71;
    font-size: 33px;
    text-align: center;
}
.hero-section>p{
    text-align: center;
    width: 80%;
    color: black;
    font-size: 19px;
    font-weight:400;
    padding-top: 10px;
    /* line-height: 20px; */
}
.cards{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    padding-top: 20px;
}
.card{
    border:transparent rgb(63, 60, 60);
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* line-height: 22px; */
    box-shadow: 3px 3px 4px rgb(105, 102, 102) , -3px -3px 4px rgb(105, 102, 102);
}
.card p span{
    color: #19ac71;
    font-weight: 900;
    font-size: 23px;
}
.card p{
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.card:hover{
    scale: 1.08;
    transition: 0.7s;
}