*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: azure;
}
.container{
    margin: 0 auto;
}
.header-section{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    justify-content: space-around;
}
.header-section>.navlink>a{
    text-decoration: none;
}
.header-section>.search-section{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.header-section>.search-section>input{
    padding: 4px 10px;
}
.header-section>.search-section>button{
    padding: 4px 10px;
    background-color: rgb(18, 155, 155);
    color: white;
    border: 1px solid white;
    font-weight: 600;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 30px;
    justify-content: space-around;
}
.header-section>.left-context{
    width: 200px;
}
.hero-section>.left-context>h1{
    font-weight: 700;
}
.hero-section>.left-context>h1>span{
    color: rgb(18, 155, 155);
    font-weight: 1000;
    background-color: rgb(229, 232, 235);
    padding: 3px;
}
.hero-section>.left-context>p>span{
    color: rgb(18, 155, 155);
    font-weight: 800;
}
.hero-section>.right-context{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.hero-section>.right-context>i{
    font-size:200px;
    margin-bottom: 10px;
}
.hero-section>.right-context>button{
    width: fit-content;
    background-color: rgb(18, 155, 155);
    color: white;
    border: 1px solid white;
    padding: 4px 10px;
    font-weight: 600;
}