*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* width: 100%vw;
    height: 100%vh; */
        background-color: #dbd6df;
}
.main-section{
    background-color: #dbd6df;
    width: 100vw;
    height: 100vh;
}
.hero-heading > nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
.hero-heading ul a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.Search-space{
    display: flex;
    gap: 8px;
}
.Search-space>input{
    padding: 4px;
}
.Search-space>button{
    padding: 4px;
    background-color:rgb(18, 155, 155);
    color: white;
    /* border-color: rgb(18, 155, 155); */
    border-radius: 4px;
}
.hero-section{
    display: flex;
    margin-top: 40px;
    gap: 130px;
}
.left-content>h1{
    font-weight: 800;
    font: bold;
}
.left-content>h1>span{
    color: rgb(18, 155, 155);
    font-weight: 1000;
    background-color:rgb(226, 232, 236);
    padding: 5px;
}
.left-content>p>span{
    color: rgb(18, 155, 155);
}
.right-content{
    display: flex;
    flex-direction: column;
}
.right-content>button{
    background-color: rgb(18, 155, 155);
    padding: 4px;
    color: white;
    border-radius: 4px;
}
footer{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}
footer>ul{
    display: flex;
    gap: 20px;
}