*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0f0f10;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;  
}
body{
   margin: 0 15vw;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}
.navlinks{
    display: flex;
    align-items: center;
    gap: 33px;
}
.navlinks a{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
}
.navlinks button{
    background: #1e1e21;
    border-radius: 8px;
    font-weight: 300;
    font-size: 14px;
    padding: 10px 40px;
}
.mainLanding-page{
    display: flex;
    align-items: flex-start; 
    margin-top: 30px;
    position: relative;
}
.mainImg{
    width: 230px;
    position: relative;
    top: -250px;
    left: 70px;
    animation-name: scaleImg;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}
@keyframes scaleImg{
   from{
    scale: 0.2;
   }
   to{
    scale: 1;
   }
}
.mainDiv{
    display: flex;
    flex-direction: column;
    margin-left: 180px;
}
.mainDiv>img{
    width: 320px;
    margin-left: 50px;
}
.mainDiv h1{
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 25px;
}
.mainDiv h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.mainDiv>p{
    width: 65%;
    font-size: 14px;
    font-weight: 300;
    color: #bdc0c2;
    line-height: 25px;
    margin-bottom: 25px;
}
.AddtoBad-Section{
    display: flex;
    align-items: center;
    gap: 20px;
    background: #1e1e21;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 25px;
}
.AddtoBad-Section img{
    width: 15px;
    background-color: transparent;
}
.AddtoBad-Section p{
    background-color: transparent;
    margin-bottom: 0px;
}
.AddtoBad-Section span{
    background-color: transparent;
}
.socialMedia-logo{
    display: flex;
    justify-content: center;
    position: relative;
    top: -80px;
    justify-content: space-around;
    padding: 0 50px;
    margin-bottom: 40px;
}
.socialMedia-logo img{
    scale: 0.8;
}
.spec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spec-List img{
    scale: 0.8;
    margin-bottom: 20px;
    animation-name: specImg;
    /* animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease */
}
/* @keyframes specImg {
    from {
        scale: 0.2;
    }

    to {
        scale: 0.8;
    }
} */
.spec-List{
    display: flex;
}
.spec-list-Item div{
   margin-bottom: 20px;
}
.spec-list-Item div img{
   scale: 0.8px;
}
.spec-list-Item div p{
   font-size: 15px;
}
.spec-list-Item div p:last-child{
    color: #bdc0c2;
    font-size: 12px;
    margin-top: 5px;
    width: 70%;
}
.spec-list-Item div:first-child,
.spec-list-Item div:nth-child(3){
    margin-left: 35px;
}
.case{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.case-item{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.case-item .case-item-logo{
    scale: 0.8;
}
.case-item div{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 20%;
}
.case-item div p:first-child{
    color: #bdc0c2;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 20px;
}
.case-item div p:last-child img{
    scale: 0.8;
    background-color: transparent;
}
.case-item div p:last-child{
    width: fit-content;
    background: #1e1e21;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    padding: 10px 20px; 
}
.buy-product{
    background: #181a1b;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
    padding: 40px 0;
}
.buy-product div,
.buy-product p,
.buy-product h3,
.buy-product img{
    background-color: transparent;
}

.buy-product div{
    width: 25%;
}
.buy-product div h3{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}
.buy-product div p{
    color: #bdc0c2;
    font-size: 14px;
    margin-bottom: 15px;
}
.buy-product div:last-child{
    display: flex;
    align-items: center;
    width: fit-content;
    background: #000000;
    border-radius: 8px;
    padding: 10px 20px;
}
.buy-product div:last-child img{
    scale: 0.8;
    margin-right: 10px;
}
.buy-product div:last-child p{
    margin-bottom: 0;
    font-size: 12px;
    color: white;
}

.product{
    display: flex;
    flex-direction: column;
    margin: 0 180px;
}
.product-logo {
    display: flex;
    flex-direction: column;
    scale: 0.5;
}
.product-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 100px;
}
.product-card {
    position: relative;
    width: 140px;
    height: 140px;
    background: #181a1b;
    border-radius: 8px;
}
.product-card:hover{
    scale: 1.05;
    transition: 0.7s;
}
.product-img {
    width: 85px;
    height: 100px;
    position: absolute;
    z-index: 100;
    top: -40px;
    left: 28px;
}
.product-img,
.product-card p,
.product-card span,
.product-card img,
.product-card div {
    background-color: transparent;
}
.product-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 15px;
}
.product-info p {
    font-size: 14px;
}
.product-info p span {
    color: #bdc0c2;
}
.product-info div {
    background: #0a0a0b;
    border-radius: 8px;
    padding: 3px 6px;
}
.product-info div img {
    width: 14px;
    height: 14px;
}
footer{
    margin: 100px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}
.footer-logo{
    scale: 0.8;
}
ul li:first-child a{
    font-size: 17px;
    font-weight: 400;
    color: white;
}
ul li a {
    font-size: 14px;
    color: #BDC0C2;
    line-height: 1.02;
}
ul li:first-child {
    margin-bottom: 7px;
}
.footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-subscribe div:first-child input{
    border: none;
    background-color: transparent;
}
.footer-subscribe div:last-child img {
    margin-right: 10px;
    scale: 0.8;
}
.subscribe-button{
    background: #0A0A0B;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.subscribe-button img{
    scale: 0.8;
}
.subscribe-button p{
   font-size: 14px;
}
.upArrow{
    position: absolute;
    right: -150px;
    scale: 0.8;
}